<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  {% include "navbar.html" %}
  <div>
    <h1 class="d-flex justify-content-center">{{headername}}</h1>
  </div>

  <div class="container justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ลำดับ</th>
          <th scope="col">รหัสทรัพย์สิน</th>
          <th scope="col">แผนก</th>
          <th scope="col">ผู้รับผิดชอบ</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for index, rows in datas %}
        <tr>
          <td>{{ index }}</td>
          <td>{{ rows[1] }}</td>
          <td>{{ rows[5] }}</td>
          <td>{{ rows[6] }}</td>
          <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal">แก้ไข</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
              data-bs-target="#exampleModaleDel">ลบ</button>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
              data-bs-target="#exampleModaleEdit{{ rows[0] }}">PM</button>
          </td>
        </tr>
        <div class="modal fade" id="exampleModaleEdit{{ rows[0] }}" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Maintenance form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="{{url_for('main.insertdatamaintenace')}}" method="POST">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="id" class="col-form-label">ลำดับ:</label>
                      <input type="text" class="form-control" id="id" name="id" value="{{ rows[0] }}">
                    </div>
                    <div class="col-md-6">
                      <label for="iditem" class="col-form-label">รหัสทรัพย์สิน:</label>
                      <input type="text" class="form-control" id="iditem" name="iditem" value="{{ rows[1] }}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="ram" class="col-form-label">ram:</label>
                      <input type="text" class="form-control" id="ram" name="ram" value="{{ rows[2] }}">
                    </div>
                    <div class="col-md-6">
                      <label for="memory" class="col-form-label">memory:</label>
                      <input type="text" class="form-control" id="memory" name="memory" value="{{ rows[3] }}">
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="system" class="col-form-label">system:</label>
                    <input type="text" class="form-control" id="system" name="system" value="{{ rows[4] }}">
                  </div>
                  <div class="mb-3">
                    <label for="fname" class="col-form-label">แผนก:</label>
                    <input type="text" class="form-control" id="fname" name="fname" value="{{ rows[5] }}">
                  </div>
                  <div class="mb-3">
                    <label for="department" class="col-form-label">ชื่อ:</label>
                    <input type="text" class="form-control" id="department" name="department" value="{{ rows[6] }}">
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="File" class="col-form-label">File:</label>
                      <input type="text" class="form-control" id="File" name="File">
                    </div>
                    <div class="col-md-6">
                      <label for="Temporary" class="col-form-label">Temporary:</label>
                      <input type="text" class="form-control" id="Temporary" name="Temporary">
                    </div>
                  </div><br>
                  <div class="mb-3">
                    <label for="Malware" class="form-label"><i class="bi bi-funnel me-2"></i>Malware:</label>
                    <div class="d-flex">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Malware" id="MalwareYes" value="yes">
                        <label class="form-check-label" for="MalwareYes"><i class="bi bi-check-circle-fill"></i>
                          Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Malware" id="MalwareNo" value="no">
                        <label class="form-check-label" for="MalwareNo"><i class="bi bi-x-circle-fill"></i> No</label>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="unit" class="col-form-label">unit:</label>
                    <input type="text" class="form-control" id="unit" name="unit">
                  </div>
                  <div class="mb-3">
                    <label for="Antivirus" class="form-label"><i class="bi bi-funnel me-2"></i>Antivirus:</label>
                    <div class="d-flex">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Antivirus" id="AntivirusYes" value="yes">
                        <label class="form-check-label" for="AntivirusYes"><i class="bi bi-check-circle-fill"></i>
                          Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Antivirus" id="AntivirusNo" value="no">
                        <label class="form-check-label" for="AntivirusNo"><i class="bi bi-x-circle-fill"></i> No</label>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="backup" class="form-label"><i class="bi bi-cloud-arrow-up-fill me-2"></i>Backup:</label>
                    <div class="d-flex">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="backup" id="backupYes" value="yes">
                        <label class="form-check-label" for="backupYes"><i class="bi bi-check-circle-fill"></i>
                          Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="backup" id="backupNo" value="no">
                        <label class="form-check-label" for="backupNo"><i class="bi bi-x-circle-fill"></i> No</label>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="date" class="form-label"><i class="bi bi-calendar3 text-success me-2"></i>Date
                    </label>
                    <input type="date" class="form-control" id="date" name="date">
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">เพิ่มข้อมูล</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>