<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department</title>
</head>

    <body>
        {% include "index/navbar.html" %}
        <div>
            <h1 class="d-flex justify-content-center">{{headername}}</h1>
        </div>
    
        <div class="mt-4">
            <table class="table mx-auto">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">แผนก</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for rows in datas %}
                    <tr>
                        <td>{{ rows[0] }}</td>
                        <td>{{ rows[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>